<html>
  <head>
    <link rel="stylesheet" type="text/css" href="js/ext/resources/css/ext-all.css">
    <link rel="stylesheet" type="text/css" href="js/ext/resources/css/xtheme-gray.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script type="text/javascript" src="js/ext/adapter/ext/ext-base.js"></script>
    <script type="text/javascript" src="js/ext/ext-all.js"></script>
    <title>Scratus</title>
  </head>
  <body>
    <div id="header">
      <h2>Scratus</h2>
    </div>

    <script type="text/javascript" src="js/process_table.js"></script>
    <div id="process-table"></div>
    
    <div id="nav">
      <a href="help">Help</a>
      <p>Version 0.0.1</p>
    </div>

  </body>
</html>
