#header 
{
  text-align: center;
  margin: 10px;
  font-family: tahoma;
}

#header h2
{
  padding: 1px;
  margin: 0px;
}

p
{
  padding: 0px;
  margin: 0px;
  font-size: 12px;
}

#nav
{
  padding: 10px;
  font-size: 12px;
  font-family: tahoma;
  text-align: center;
}

#textile
{
  font-family: tahoma;
  font-size: 12px;
}

#textile h2
{
  text-align: center;
}

#textile h3
{
  text-transform: uppercase;
}

#textile p
{
  font-size: 12px;
}

#textile pre
{
  background: #dddddd;
  padding: 10px;
  margin-left: 30px;
}

#textile h5
{
  font-size: 11px;
  margin-left:30px;
}

#textile .indent
{
  margin-left: 30px;
}
